<%- include('./partials/head') %> 
  
  <body>

    <!--Menu-->
    <%- include('./partials/navbar')  %> 

    <% if (typeof aviso !== 'undefined') { %>
      <% var titulo = "Alterar Aviso" %>
      <% var rota = "/avisos/editar/"+aviso.ID_avisos %>
    <% } else { %>
      <% var titulo = "Novo Aviso" %>
      <% var rota = "/avisos/novo/" %>
    <% } %>
     

    <div class="container">
      <br><br>

      <a href="http://"><i class="fas fa-long-arrow-alt-left"></i>Voltar</a>
      <br><br>
      <% if (typeof msg !== 'undefined'){ %>

        <% if (msg.tipo == 'sucesso') { %>
          <div class="alert alert-success alert-dismissible fade show p-4" role="alert">
            <strong><i class="fas fa-check"></i> Sucesso! :) </strong> <%= msg.corpo %> 
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <% } %> <!--Fim do if sucesso-->

        <% if (msg.tipo == 'erro') { %>
          <div class="alert alert-danger alert-dismissible fade show p-4" role="alert">
            <strong><i class="fas fa-times"></i> Erro :( </strong> <%= msg.corpo %> 
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <% } %> <!--Fim do if erro-->
      <%}%> <!--Fim do if typeof-->

      <br>

      <div class="card shadow">
        <div class="card-header bg-purple text-white pl-5 p-4">
          <h2> <i class="far fa-calendar-plus"></i> <%= titulo %> </h2>
        </div>
        <div class="card-body p-5">
          <form action="<%= rota %>" method="POST">

            <% if (typeof aviso !== 'undefined') { %>
              <div class="form-group">
                <label for="id">ID aviso</label> 
                <input id="id" name="id" type="text" class="form-control" required value="<%= aviso.ID_avisos %>" readonly>
              </div>
            <% } %>
            
            <div class="form-group">
              <label for="titulo">Título</label> 
              <input id="titulo" name="titulo" placeholder="Digite o titulo do aviso" type="text" class="form-control" required value="<%= typeof aviso != 'undefined' ? aviso.titulo : null %>">
            </div>
            <div class="form-group">
              <label for="data">Data</label> 
              <input id="data" name="data" type="date" class="form-control" required value="<%= typeof aviso != 'undefined' ? moment(aviso.data).format('YYYY-MM-DD') : null %>">
            </div>
            <div class="form-group">
              <label for="Digite o aviso aqui">Mensagem</label> 
              <textarea id="mensagem" name="mensagem" placeholder="Digite sua mensagem" cols="40" rows="5" class="form-control" required><%= typeof aviso != 'undefined' ? aviso.mensagem : null %></textarea>
            </div> 
            <div class="form-group text-right">
              <button name="submit" type="submit" class="btn btn-secondary">Limpar</button>
              <button name="submit" type="submit" class="btn btn-primary"> <i class="far fa-calendar-check"></i> Salvar</button>
            </div>
          </form>
        </div> <!--class card-body-->
      </div> <!--class card--> 
    </div> <!--class conteiner-->
<%- include('./partials/scripts_import') %> 
  </body>
</html>